:root, * {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 64px;
}

body {
  background: linear-gradient(to bottom, #ffffff, #8195b9);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
background-color: #f2f2f2;
font-family: 'Rubik', sans-serif;
} 



/* =========================== HOME STYLES =========================== */

.Home, .Message {
  display: grid;
  grid-template-columns: 240px 5fr 2fr;
  grid-template-rows: clamp(64px, 84px, 128px) 1fr;
  min-height: 100vh;
}

/* Styles for the h3 tag */
.Login h3 {
  display: inline-block;
  margin-bottom: 20px; /* Add some space below the h3 tag */
}

/* Styles for the user and password inputs */
#user,
#pass {
  text-align: left;
  padding: 1.5em;
  border-radius: 1em;
  margin-bottom: 10px; /* Add some space between the inputs */
  width: 300px; /* Adjust the width as needed */
}

#img {
max-width: 5%;
max-height: 5%; 
}

#Login {
  padding-top: 14%;
}

/* Header Styles */

.Header-Container {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Main Styles */

.Main-Container {
  border: 1px solid black;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.Main-Heading {
  padding: 0;
  margin: 0;
  height: 10%;
}

.Cards {
  display: grid;
  gap: 12px;
  padding: 18px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: calc(100% - 40px);
  height: calc(90% - 40px);
  align-items: center;
  justify-items: center;
}

.Card {
  height: clamp(100px, 100%, 200px);
  width: clamp(180px, 100%, 360px);
  display: flex;
  border-radius: 8px;
  background: linear-gradient(to right, #486fcb 4%, #ececec 4%);}

.Card-List {
  list-style-type: none;
  text-align: left;
}

.Sidebar-Container {

  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.Sidebar-List {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

ul, ol {
  list-style-type: none;
}


/* Current Selected Styles */

.Current-Container {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-start;
  max-height: 86vh;
  overflow-y: auto;
}

/* =========================== MESSAGE STYLES =========================== */

.Conversation-Container {
  border: 1px solid black;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 86vh;
  overflow-y: auto;
}

.User-Message {
  width: 100%;
  height: 64px;
  display: flex;
  background-color: rgb(192, 204, 255);

}

.My-Message {
  background-color: whitesmoke;
}

.Send-Message {
  width: 100%;
  height: 84px;
  background-color: #3777ff;
}

.Message-Formatter {
  display: flex;
  flex-direction: column;
  text-align: left;
  
}

.Name-Time {
  display: flex;

}

.Messager {
  display: flex;
  border: 1px solid black;
  height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Profile {
  display: flex;
}