.Profile {
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: rgb(176, 173, 194);
  }
  
  .corner {
    width: 100%;
    text-align: left;
    
  }
  .corner{
    background-color: rgb(51, 76, 114);
    padding-top: 5px;
    padding-bottom: 9px;
    border-radius: 56px;

  }
  
  .profileimage {
    text-align: center;
    float:center;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  .profileimage img {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    border-radius: 50%;
  }
  
  .aboutme {
    margin-top: 50px;
    float: center; 
   display: flex;
   flex-direction: column;

  }
  
  ul#schoolprofile {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul#schoolprofile p {
    margin: 0;
  }
  
  /* Add more styling as needed for the about me section */
  
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

h4 {
    float: left;
    padding: 5px;
    margin-bottom: 0;
}


h4 Link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 50px;
  }
  
  /* h4:bold {
    background-color: #111;
    padding: auto;
    margin-bottom: 10px;
    
  } */

  .nav > * {
    /* margin-bottom: -8px; */
  }
  .home, .message, .about {
    padding: 8px 40px 0 40px;
  }

  .summary {
    margin-top: 40px;
  }
.titleinfo {
    font-weight: bold;
}
.paragraph {
    margin:30px;
}

.friendlist {
   
     width: 100px;
     float: left;
     height: 1px;
     
}

#justin, #michael, #tom, #iman {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    border-radius: 10%;
}
