.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





/* =========================== HOME STYLES =========================== */

.Home {
  display: grid;
  grid-template-columns: 300px 3fr 1fr;
  grid-template-rows: 100px 1fr;
  min-height: 100vh;
}

/* Sidebar Styles */

.Sidebar-Container {
  border: 2px solid #000000;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: clamp(64px, 100px, 128px) 3fr 1fr;

}

.Profile {
  display: flex;
  flex-direction: row;
  grid-row: 1 / 2;
}

.Sidebar-List {
  list-style-type: none;
  grid-row: 2 / 3;
}

.Settings-Help {
  list-style-type: none;
  grid-row: 3 / 4;
}

/* Header Styles */

.Header-Container {
  border: 2px solid black;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Main Styles */

.Main-Container {
  border: 2px solid black;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.Main-Heading {
  padding: 0;
  margin: 0;
  height: 10%;
}

.Cards {
  border: 2px solid red;
  display: grid;
  gap: 12px;
  padding: 18px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: calc(100% - 40px);
  height: calc(90% - 40px);
  align-items: center;
  justify-items: center;
}

.Card {
  border: 2px solid black;
  height: clamp(100px, 100%, 200px);
  width: clamp(180px, 100%, 360px);
}

/* Status Styles */

.Status-Container {
  border: 2px solid black;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}